body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

.app {
  padding: 30px;
}

.heading {
    text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.alert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.type {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.severity {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}

.message {
  color: #444;
}

.area_desc {
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
    text-decoration: underline;
}